.cursor {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-radius: 50%;
  position: fixed;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  /* animation: cursorAnim 0.5s infinite alternate; */
  pointer-events: none;
  z-index: 9999;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  /* animation: cursorAnim2 0.5s infinite alternate; */
}
.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  /* animation: cursorAnim2 0.5s infinite alternate; */
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #7c3aed;
}

.cursor {
  display: block;
  opacity: 1;
  
}

.cursor:not(.vlivka) {
  transform: scale(1);
}

.cursor.vlivka {
  animation: cursorAnim3 0.5s forwards;
}

@media (max-width: 768px) {
  .cursor {
    display: none !important;
  }
}


.hovered {
  border-color: #7c3aed;   /* purple */
}

.hovered::after {
  border-color: #7c3aed;
}
